TP1/build
TP1/bin
TP1/.vscode

TP2/build
TP2/bin
TP2/.vscode

TP3/build
TP3/bin
TP3/.vscode

TP4/build
TP4/bin
TP4/.vscode

TP5/build
TP5/bin
TP5/.vscode

TP6/build
TP6/bin
TP6/.vscode

TP7/build
TP7/bin
TP7/.vscode